.env
node_modules

#Hardhat
hardhat/node_modules
hardhat/.env
hardhat/coverage
hardhat/coverage.json
hardhat/typechain
hardhat/typechain-types

#Hardhat files
hardhat/cache
hardhat/artifacts

#React
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build

# React misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*